* {
    font-family: 'Michroma', sans-serif;
    box-sizing: border-box;
  
    
}

body {
    background: url("../imgs/iwantmymtvspaceman.png");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    height: 100vh; 
    display: flex;  
    flex-direction: column;
    align-items: center;
    width: 100vw;
  
}

body > h2, h1 {
  margin-bottom: 0;
}

body > h2 {
  margin-top: 0;
}

    button {
    margin: 3px;
    background-color: white;
    color: #685F79;
    border: 1vmin solid #685F79;
    border-radius: 4vmin;
    font-size: 10px;
    outline: none;
    font-weight: bold; 
  }
  
  button:hover {
    background-color: #685F79;
    color: white;
  }

  h1 {
    font-size: 4vmin;
    color: #685F79;
    font-weight: bold;  
  }

  h2 {
    font-size: 2.5vmin;
    color: #67BBBF;
  }

  #game-info {
   
    display: flex;
    text-align: center;
  }

  #game-play {
    display: flex;
  }

  #left-side {
    width: 30vw;
    display:flex ;
    justify-content: flex-end;
  }

  #right-side {
    width: 70vw;
    display: flex; 
    flex-direction: column;
  }

  #letters {
flex-wrap: wrap;
 display: flex;
 width: 550px;
  }

  #hintsctn {
    height: 80%;
  }

  #hntsbutton {
    margin: 3px;
    margin-top: 30px;
    background-color: white;
    color: #EFC01D;
    border: 1vmin solid #EFC01D;
    border-radius: 4vmin;
    font-size: 15px;
    outline: none;
    font-weight: bold; 
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
  }

  #hntsbutton:hover {
    background-color: #EFC01D;
    color: white;
  }

   #spaceman { 
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
   }

   #decade {
    font-size: 10px;
    padding: 5px;
    
   }

   #word {
    font-weight: bold; 
    color: #EFC01D;
    font-size: 50px;
    letter-spacing: <some measurement>;
   }

   

