* {
    font-family: 'Michroma', sans-serif;
    box-sizing: border-box;
    
}

body {
    /* background: url("../imgs/iwantmymtvspaceman.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    height: 100vh;
    display: flex;  
    flex-direction: column;
      
}

    button {
    width: 13vmin;
    margin: 2vmin;
    background-color: white;
    color: #685F79;
    border: 1vmin solid #685F79;
    border-radius: 4vmin;
    font-size: 4vmin;
    outline: none;
    font-weight: bold; 
    padding-top: 1vmin; 
  }
  
  button:hover {
    background-color: #685F79;
    color: white;
  }

  h1 {
    font-size: 5vmin;
    color: #685F79;
    font-weight: bold;  
  }

  h2 {
    font-size: 2.5vmin;
    color: #67BBBF;
  }

  #spaceman-filmstrip {
    width: 504px;
    height: 687px;
    background-image: url("imgs/spaceman-filmstrip.jpg");
    background-position-x: 0;
  }
